.implement .container {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.implement__info {
    max-width: 445px;
    width: 100%;
}

.implement__heading {
    margin: 0;
    margin-bottom: 24px;
    font-family: 'DM Serif Display';
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #36536B;
}

.implement__paragrahp {
    margin: 0;
    font-size: 15px;
    line-height: 28px;
    color: #6C8294;
}

@media only screen and (max-width: 1060px) {
    .implement .container {
        flex-direction: column;
        align-items: center;
    }

    .implement__heading {
        text-align: start;
    }


    .implement__paragrahp {
        text-align: start;
    }
}

@media only screen and (max-width: 768px) {
    .implement__info {
        width: 80%;
    }

    .implement__paragrahp {
        text-align: center;
    }
}

@media only screen and (max-width: 561px) {
    .implement__image {
        width: 428px;
        height: 309px;
    }

    .implement__heading {
        text-align: center;
        font-size: 36px;
        line-height: 36px;
    }

    .implement__paragrahp {
        width: 100%;
    }

}
    
@media only screen and (max-width: 408px) {
    .implement__heading {
        width: 100%;
    }
}